<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/home.css" type="text/css" media="all">
    <title>베지아보카도</title>
  </head>
  <body>

    <div class="navbar">
      <div class="nav-logo">
        VeggieAvocado
      </div>
      <div class="nav-actions">
        <button type="button" name="button">로그인</button>
        <button type="button" name="button">회원가입</button>
      </div>
    </div>

    <div class="content">
      <div class="content-title">
        Say hello to my little buddy!
      </div>
      <div class="content-body">
        저희는 텍스트 분석을 도와주는 스타트업입니다. 안녕하세요?
      </div>
    </div>

    <div class="footer">
      <span>2018 베지아보카도 만세</span>
    </div>

  </body>
</html>
